body {
  background-image: url("https://media.architecturaldigest.com/photos/55e7658d302ba71f3016531d/master/w_900,h_600,c_limit/dam-images-architecture-2015-02-candy-shops-beautiful-candy-shops-01-dylans-candy-bar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: rgb(233, 207, 210);
  margin-top: 3%;
  height: 700px;
  border: 3px solid yellow;
  padding: 2%;
}

h1, h2 {
  text-decoration: underline;
  color: royalblue;
  text-shadow: black 1px 1px;
}

input {
  margin: 2% 0;
}

p {
  margin-bottom: 2%;
}

.button {
  border: 1px solid royalblue;
  background-color: rgb(233, 207, 210);
  color: royalblue;
}

#booksIndexLi {
  margin-bottom: 2%;
}

.detailsList {
  margin-top: 8px;
}

#detailsDelete {
  margin: 5px 0;
}

.addLink {
  margin-top: 2%;
}